asgiref==3.2.10
cycler==0.10.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.8
django-widget-tweaks==1.4.8
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.0
mpld3==0.5.1
numpy==1.19.1
pandas==1.1.0
pdfkit==0.6.1
Pillow==7.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
reportlab==3.5.46
six==1.15.0
sqlparse==0.3.1
static3==0.7.0
