<!-- Consulta de dados por qualquer usuário. -->
<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>consultar-dados</title>
    </head>
    <body>
        <h1>Consulta dos dados epidemiologicos sobre COVID-19</h1>
        <h2>Escolha o tipo de consulta:</h2>
        <form action="" method="get"><!-- action="/url_desejada"-->
            <div>
              <input type="checkbox" id="raw_data" name="raw_data" value="True" >
              <label for="raw_data">Raw data</label>
            </div>
            <div>
              <input type="checkbox" id="nao" name="age_hist" value="True">
              <label for="hist_idade">Histograma por idade</label>
            </div>
            <button type="submit" name="button">Consultar</button>
	</form>
    <p></p>
    <button type="button" name="button">Pagina inicial</button>
    </body>
</html>
