<!-- Esboco da pagina de login-->
<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>login</title>
    </head>
    <h1>Login:</h1>
    <form action="" method="post"> <!-- Em action, entrar com a URL desejada -->
     <ul>
      <li>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="user_email">
      </li>
      <li>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="user_password"></input>
      </li>
     </ul>
     <p>
         <input type="submit" value="Entrar">
     </p>
    </form>

    <p>Não cadastrado?</p>
    <button type="button" name="cadastrar">Cadastrar</button>
    <body>

    </body>
</html>
