<!-- Esboco da primeira pagina chamada apos login realizado com sucesso. -->
<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>pagina-inicial-logado</title>
    </head>
    <body>
        <h1>Bem-vindo!</h1>
        <button type="button" name="button">Inserir paciente</button>
        <button type="button" name="button">Editar paciente</button>
        <button type="button" name="button">Consultar dados</button>
        <button type="button" name="button">Logout</button>
    </body>
</html>
