{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Base de Dados Epidemiológica - COVID 19</li>
{% endblock %}

{% load static %}

{% block content %}
    <center>
        <div class="card w-50 text-center bg-light mb-3">
            <div class="card-header">
                Visualizar Dados
            </div>
            <img class="card-img-top" src="{% static "grafico2.png" %}">
            <div class="card-body">
                <center>
                    <a href="{% url 'query_data' %}" type="button" class="btn btn-secondary ml-2">Consultar</a>
                </center>
            </div>
        </div>
    </center>
{% endblock %}
