{% extends 'base-clean.html' %}
{% load widget_tweaks %}

{% block content %}
    <hr style="width: 58rem; margin-left: 0;">
    <div class="card" style="width: 58rem;">
        <div class="card-header">
            Entrar
        </div>
        <div class="card-body">
            <div class="container">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-info ml-2">Entrar</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}