{% extends 'base.html' %}

{% block title %}
  {{ patients.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'patient_edit' %}" style="color:mediumblue">Voltar</a></li>
    <li class="breadcrumb-item active">Paciente</li>
{% endblock %}

{% block content %}
    <p>Nome: {{ pacientes.nome}}</p>
    <p>Idade: {{ pacientes.idade }}</p>
    <p><b>Sintomas:</b></p>
    <p>Data de Início: {{ pacientes.data_inicio_sintomas }}</p>
    <p>Temperatura Máxima: {{ pacientes.temperatura_maxima }}</p>
{% endblock %}
